
.dropdown-inverse-menu {
    text-align: right;
    transform: translate(-50%, 0) !important;
}

.btn-card {
    color: black;
    &:hover {
        text-decoration: none !important;
        background: dimgray;
        color: whitesmoke;
    }
}
