
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-8">
        <h1>Administrators</h1>
    </div>
    <div class="col-4">
        <a id="create" class="btn btn-primary btn-block" asp-action="Create" asp-controller="Administrator">New Administrator</a>
    </div>
</div>
<div class="row">
    <div id="Data" class="col-12" data-url="Administrator/Get" data-name="Administrator" data-collection="administrators"></div>
</div>